.leaderboard {
  width: 100%;
  height: 60vh;
  padding: 2em 0;
  margin: 2em;
  background-color: #dddddd;
  border-radius: 15px;

  .leaderboard-list {
    height: 350px;
    overflow-y: scroll;
    padding: 0 15px;
    counter-reset: section;                
    li::before {
      width: 2em;
      counter-increment: section;
      content: counter(section)". ";
    }
  }

  h2 {
    text-align: center;
  }
  .leaderboard-list-item {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    height: 50px;
    padding: 0 15px;
    .left-align {
      display: flex;
      align-items: center;
    }
    .right-align {
      margin-left: auto;
      
    }
    &.highlighted {
      background-color: black;
      color: white;
      &.top {
        position: sticky;
        top: 0;
      }
      &.bottom {
        position: sticky;
        bottom: 0px;
      }
    }
  }
  .leaderboard-picture {
    height: 3em;
    width: 3em;
    border-radius: 50%;
  }
}