.modal-wrapper {
  display: flex;
}
.product-details-wrapper {
  width: 100%;
  margin-right: 20px;
}
.product {
  .product-title {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0;
  }
  .product-description {
  }
}
